@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-brand-color: #B3E6F3;
    --primary-color: #406973;
    --secondary-color: #9D8772;
    --light-secondary-color: #F2D2B3;
    --text-color: black;
    --secondary-text-color: #91ACB3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--text-color);
}

h1 {
    font-size: 100px;
    line-height: 115%;
}

.subheading {
    margin-top: 25px;
    color: var(--secondary-color);
}
