header {
    padding: 100px 25px;
    position: relative;
}

.header_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.header_text {
    width: calc(50% - 50px);
}

.circle {
    height: 600px;
    width: 600px;
    max-height: 80vw;
    max-width: 80vw;
    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 600px;
}

nav {
    margin-bottom: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
}

nav a:hover {
    color: var(--text-color);
}

nav a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

#toggle_button {
    display: none;
}

.toggle_label {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--text-color);
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
}

@media(max-width: 800px) {
    nav{
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
        border-radius: 0 0 25px 0;
    }

    .header_text {
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    #toggle_button:checked ~ .header_content nav ul {
        display: flex;
        background-color: var(--secondary-color);
    }

    label[for="toggle_button"]{
        display: block;
    }
}
