header {
    padding: 100px 25px;
    position: relative;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.text {

    width: calc(50% - 50px);
}

.highlight {
    color: var(--light-secondary-color);
    
}

.circle {
    height: 600px;
    width: 600px;
    max-height: 60vw;
    max-width: 60vw;
    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);
}

.circle img {
    width: 100%;
    height: auto;
}


@media(max-width: 800px) {
    .header_text {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 8vw;
        text-align: center;
        padding-bottom: 20px;
    }

    .text {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .circle {
        height: 200px;
        width: 200px;
    }
}


